{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h1>Modifier mon mot de passe</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <a href="{{ path('edit_profile', {'id': app.user.id}) }}" class="btn btn-primary btn-sm"><i class="fas fa-arrow-left fa-2x"></i></a>
            <button class="btn btn-success btn-sm" type="submit"><i class="fas fa-check fa-2x"></i></button>
            <button class="btn btn-danger btn-sm" type="reset"><i class="fas fa-trash-alt fa-2x"></i></button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}