{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h1>Modifier mon profil</h1>
            <p><a class="btn btn-danger btn-sm" href="{{ path('edit_password') }}">modifier mon mot de passe</a></p>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-check fa-2x"></i></button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}