{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary btn-sm" href="{{ path('category_index') }}">Retour</a>

{% endblock %}
