{% extends 'base.html.twig' %}

{% block title %}{% trans %}Mes catégories{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Mes catégories{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Nom{% endtrans %}</th>
                <th>{% trans %}Déscription{% endtrans %}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>
                    <p>{% include 'category/_delete_form.html.twig' %}</p>
                    <p><a class="btn btn-primary btn-sm" href="{{ path('category_edit', {'id': category.id}) }}"><i class="fas fa-pencil-alt fa-2x"></i></a></p>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{% trans %}Aucune catégorie{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success btn-sm" href="{{ path('category_new') }}"><i class="fas fa-plus fa-2x"></i></a>
{% endblock %}
