{% extends 'base.html.twig' %}

{% block body %}

    <h1>Create task</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary" type="submit">send</button>
    <button class="btn btn-danger" type="reset">erase</button>
    {{ form_end(form) }}

{% endblock %}