{% extends 'base.html.twig' %}

{% block title %}{% trans %}Récuperer mon mot de passe{% endtrans %}{% endblock %}

{% block body %}

    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h1>{% trans %}Récuperer mon mot de passe{% endtrans %}</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary btn-sm" type="submit">{% trans %}Envoyer{% endtrans %}</button>
            <button class="btn btn-danger btn-sm" type="reset">{% trans %}Effacer{% endtrans %}</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}