{{ form_start(form) }}
    {{ form_widget(form) }}
    <a class="btn btn-primary btn-sm" href="{{ path('contact_index') }}"><i class="fas fa-arrow-left fa-2x"></i></a>
    <button class="btn btn-success btn-sm"><i class="fas fa-check fa-2x"></i></button>
{{ form_end(form) }}
