{% extends 'base.html.twig' %}

{% block title %}{% trans %}Ajouter un contact{% endtrans %}{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <h1>{% trans %}Ajouter un contact{% endtrans %}</h1>

    {{ include('contact/_form.html.twig') }}

    </div>
</div>

{% endblock %}
