{% extends 'base.html.twig'%}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    {{ title | h1 }}

    <p><a href="{{ path('lang_locale', {'locale':'en'}) }}">{% trans %}English{% endtrans %}</a></p>
    <p><a href="{{ path('lang_locale', {'locale':'fr'}) }}">{% trans %}French{% endtrans %}</a></p>

{% endblock %}