{% extends 'base.html.twig'%}

{% block body %}

    <h1>{% trans %}Langue de l'application{% endtrans %}</h1>

    <p><a href="{{ path('lang_locale', {'locale':'fr'}) }}">{% trans %}Français{% endtrans %}</a></p>
    <p><a href="{{ path('lang_locale', {'locale':'en'}) }}">{% trans %}Anglais{% endtrans %}</a></p>

{% endblock %}