{% for message in app.flashes('success') %}
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message | h5strong }}
    </div>
{% endfor %}